body {
    margin: 0;
    background-color: ghostwhite;
}
header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(23,23,23);
background: linear-gradient(333deg, rgba(23,23,23,1) 0%, rgba(0,159,255,1) 30%, rgba(255,255,255,1) 93%);
    padding: 50px 0;
    border-bottom: 15px solid dodgerblue;
}

header h1 {
    margin: 0;
    background-color: none;
    font-size: 96px;
    padding-left: 10%;  
    font-family: 'Alegreya Sans SC';
}

ul {
    padding-right: 5%;
}

header ul li {
    position: relative;
    right: 10px;
    top:30px;
    display: inline;
    padding: 0 15px;
    font-family:'Alegreya Sans SC';
    font-size: 32px;
    background-color: lightgreen;
    margin: 0 10px;
    border: 2px solid green;
    border-radius: 25px;
}

main .section {
    border: 10px solid lightsteelblue;
    margin: 50px;
    border-radius: 25px;
    text-align: center;
    font-family: 'Nova Flat';
    box-shadow: 5px 5px 25px black;
}

.border {
    border: 5px solid darkslategrey;
    border-radius: 25px;
    margin: 0 40px;
}

.about-me {
    font-size: 32px;
}

main .section p {
    font-size: 24px;
}
.contact-me {
    background: rgb(23,23,23);
    background: linear-gradient(333deg, rgba(23,23,23,1) 0%, rgba(0,159,255,1) 30%, rgba(255,255,255,1) 93%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30% 0 30%;
    font-family: 'Verdana'; 
    text-shadow: 2px 3px 3px mediumpurple;
    border-top: 15px solid dodgerblue;
}

main div h2 {
    display: inline;
    padding-right: 30px;
    padding-bottom:40px;
}

main div a {
    display: inline;
    padding-right: 15px;
    text-decoration: none;
    color: black;
    padding-bottom:40px;
}

.split {
    display: flex;
}

.work {
    margin: 0 20px 50px 50px;
    width: 225%;
    padding-top: 30px;
}

.resume {
    margin: 0 50px 50px 20px;
    padding-top: 30px;
}

.margin {
    width: 550px;
    margin: 40px; 
}

.projects {
    width: 500px;
    height: 200px;
}

.flex img {
    width: 40%;
    height: auto;
    border-radius: 200px;
    margin: 20px;
    box-shadow: 0px 0px 20px slategrey;
}

.first-project img {
    width: 80%;
    height: auto;
    border-radius: 125px;
}

.flex {
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
}

@media screen and (max-width:992px) {
    .split {
        flex-direction: column;
    }
    main div h2 {
        display: block;
        margin: 0;
        padding: 0;
    }
    .margin {
        width: 700px;
    }
    .work {
        width: 88%;
    }
    .contact-me-title {
        padding-right: 30px;
        padding-bottom: 40px;
    }
    .work-button {
        margin: 0 36px;
    }
}
@media screen and (max-width:768px) {
    .work {
        width: 84%;
    }
    .margin {
        width: 500px;
    }
    .contact-me-title {
        text-align: center;
    }
    .work-button {
        margin: 0 10px;
    }
}
@media screen and (max-width:576px) {
    header {
        flex-direction: column;
    }
    header h1 {
        text-align: center;
        padding-left: 0;
        font-family: 'Alegreya Sans SC';
    }
    .margin {
        width: 350px;
    }
    .border {
        width: 80%;
        height: auto
    }
    main .section {
        margin: 25px 50px;
    }
    .work {
        width: 78%;
    }
    header ul li {
    padding: 0 10px;
    margin: 0 0px;
    }
    .work-button {
    padding: 0 10px;
    margin: 0 0px;  
    }
}    
